<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.eaglesakura.andriders.enduro"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- System Layer -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.eaglesakura.andriders.enduro.CommunicatorApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/Env.AppName"
        android:theme="@style/App.Theme">
        <!-- ダイアログを強制表示するActivity -->
        <activity
            android:name="com.eaglesakura.andriders.enduro.ReceiveMessageActivity_"
            android:theme="@style/EsMaterial.Transparent">
            <!-- Debug -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- 送信メッセージを指定するTrigger用Activity -->
        <activity android:name="com.eaglesakura.andriders.enduro.MessageSettingActivity_">
            <!-- acetrigger://で起動する -->
            <intent-filter>
                <data android:scheme="acestrigger"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- acesteamorder://で起動する -->
            <intent-filter>
                <data android:scheme="acesteamorder"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- Debug -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- ACE常駐Service -->
        <service
            android:name="com.eaglesakura.andriders.enduro.EnduroExtensionService_"
            android:exported="true">
            <intent-filter>
                <action android:name="com.eaglesakura.andriders.ACTION_ACE_EXTENSION_BIND"/>
            </intent-filter>
        </service>
    </application>

</manifest>
